*{box-sizing:border-box;}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
.home-wrapper{
	/*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/background.jpg')no-repeat center top;*/
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../images/background.png')no-repeat center top;
	background-size: cover;
	color: white;
}
header{
	position: fixed;
	padding: 10px 0;
	width: 100%;
	background-color: rgba(48, 48, 48, 0.5);
	/*background-color: #FFFFFF;*/

}
header img{
	height: 65px;
}
header nav{
	float:right;
	margin-top: 10px;
}
header nav a{
	/*color:#004522;*/
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px ;

}
header nav a.active{
	background: #D8D9D9;
	border-radius: 3px;
}
#home{
	text-align: center;
	padding: 150px 0 150px;
}
#home h1{
	color: #FFFFFF;
	font-size: 68px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 40px;
}
#home .divider{
	width: 160px;
	border-top: 5px solid #ffffff;
	margin: 7px auto; 
	
}
#home button .btn-success .btn .btn-lg{
	padding-top: 3px;
	margin-top: 3px;
	background-color: #00592F;
}
#home a	{

	color: #ffffff;
}
#home p{
	
	font-size: 18px;
	padding-top: 5px;
	font-style: italic;
	
}
#home .social{
	margin-top: 80px;
}
#home .social a{
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}
#home .social a:hover{
	background-color: #D8D9D9;
}
#servicios .box{
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 10px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target{
	opacity: 1;
	pointer-events:auto;
}
.modalDialog > div{

	width: 992px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff,#999);
	background: -o-linear-gradient(#fff,#999);
}
.close{

	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close hover{

	background: #00d9ff;
}
.sidebar
{
	float: right;
	width: 30%;
	height: auto;
	border-top: 1px withe;
	
}
#social{
	text-align: center;
	padding: 30px 0;
}
#noticias{
	display: inline;
	
}
#noticias .box{
	display: inline-block;
	width: 31%;
	margin: auto;
}
#socialnetwork{
	float: right;
}
#alianzas div{
	padding-right: 0;
	margin-right: 0;
	
}
#alianzas .box{
	display: inline-table;
	text-align: center;
	width: 18%;
	margin: 2%;
	background-color: white;
}
#alianzas .box img{
	width: 100%;

}
#alianzas .box p{
	color: #666;
	padding: 10px;
}
#contacto .box{
	display: inline-block;
	text-align: center;
	width: 45%;
	margin: 1%;
	background-color: white;
}
#contacto{
	background-position: center;
	background-repeat:no-repeat;
	text-align: center;
}
#contacto input{
	padding: 20px;
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#contacto textarea{
	margin: 20px 0;
	padding: 20px;
	width: 400px;
}
#contacto form{
	display: inline-block;
}
footer {
	padding: 90px 0;
	text-align: center;
	font-size: 18px;
}
section{
	padding: 80px 0;
}
section h2{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
}
.container{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
#Institucional .container{
	width: 620px;
	margin: auto;

}
#social .container{
	width: 620px;
	margin: auto;

}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
